{% extends "../layouts/main.html" %}

{% block title %}List Todos{% endblock %}

{% block content %}
  <h1 class="page-header">List Todos</h1>

  <div id="todos-list">
    {% for todo in todos %}
      <article>
        <h2><a href="{{ router.todos.url('show', todo.id) }}">
          <span {% if todo.done %}class="todo-done"{% endif %}>{{ todo.title }}</span>
        </a></h2>
        <p>Создано {{ todo.createdAt | timeAgo }}</p>
        {% if todo.updatedAt %}
          <p>Обновлено {{ todo.updatedAt | timeAgo }}</p>
        {% endif %}
      </article>
    {% else %}
      <h2>Записей еще нет</h2>
    {% endfor %}
  </div>
  {{ pagination | paginator | safe }}
{% endblock %}